# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
# $Id: .cvsignore,v 1.2 2006/01/24 14:16:21 reho Exp $

Makefile
Makefile.in
README
aclocal.m4
amavisd-milter-*.tar.gz
autoconf.sh
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
configure.lineno
stamp-h1
